.wy-side-nav-search img{
    background-color:#ff6e00;
}

.wy-side-nav-search input[type=text]{
    border-color:#ff6e00;
}

.wy-menu-vertical header{
    color:#ff6e00;
}

.wy-nav-top{
    background:#ff6e00;
}

.wy-nav-top img{
    background-color:#ff6e00;
}