body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #f06700;
}

a:hover {
    color: #46a3ba;
    text-decoration: underline;
}

ul ul {
    display: none;
}

ul .toctree-l1 {
    margin: 25px;
    padding: 0;
}

ul .toctree-l1 a {
    padding: 2px 15px;
    display: block;
}

ul li:first-child {
    border: none;
}

.wy-side-nav-search {
    background-color: #ff6e00;
}
