.wy-side-nav-search {
    background-color: #ff6e00;
}

.news-banner{
    margin-bottom: 24px; 
    color: black;
}
.news-banner-title{
    background-color: #6E8BA0;
    font-weight: bold;
    padding-left: 12px;
    margin: 0;
}
.news-banner-content{
    background-color: #E4E5E7;
    padding-left: 12px;
    margin: 0;
}